certifi==2016.8.31
cloudpickle==0.2.1
cymem==1.31.2
future==0.15.2
jsonpickle==0.9.3
murmurhash==0.26.4
numpy==1.11.1
plac==0.9.6
preshed==0.46.4
python-telegram-bot==5.0.0
requests==2.11.1
semver==2.6.0
six==1.10.0
spacy==0.101.0
sputnik==0.9.3
thinc==5.0.8
urllib3==1.17
